.Rproj.user
.Rhistory
.RData
.Ruserdata
_main.rds
*.log
rsconnect
packages.bib
.project
_book/
_bookdown_files/
tmp/
*-tikzDictionary
temp.Rmd
book/
data/
slide
code/
stringi.md
tmp.R
.DS_Store
latex/geor.bib
r4ds.rds
maintainer_author.csv
