.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
*.log
rsconnect
packages.bib
.project
_book/
_bookdown_files/
tmp/
*-tikzDictionary
temp.Rmd
book/
data/
slide

stringi.md
tmp.R
.DS_Store

maintainer_author.csv
